<div class="navbar">
  <span>OmegaChat</span>
  <div class="userIconDiv" (click)="toggleMenu()">
    <span class="userIcon"><i class="fa-solid fa-user"></i></span>
    @if (username(); as name) {
      <span class="userName">{{ name }}</span>
    }
  </div>
</div>

@if (menuOpen()) {
  <div class="dropDown">
    <div class="dropDownItem"><i class="fa-solid fa-cloud-arrow-up"></i>Upgrade Plan</div>
    <div class="dropDownItem"><i class="fa-solid fa-gear"></i>Settings</div>
    <div class="dropDownItem" (click)="onLogout()">
      <i class="fa-solid fa-arrow-right-from-bracket"></i>Logout
    </div>
  </div>
}
